:root {
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --font-size: 1rem;
    --normal: 500;
    --bold: 700;
    --very-bold: 900;
    --font-family: "Red Hat Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: var(--very-pale-blue);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

button {
    cursor: pointer;
}